<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Contrail+One&display=swap" rel="stylesheet">
    <title>Connexion</title>
</head>
<body>
    <h2>Page de Connexion</h2>
    <div class="form">
        <form action="/login" method="post">
            <label for="nom_utilisateur">Nom d'utilisateur:</label>
            <input type="text"id="nom_utilisateur" name="username" required><br><br>
            <label for="mot_de_passe">Mot de passe:</label>
            <input type="password" id="mot_de_passe" name="password" required><br><br>
            <button type="submit">Se connecter</button>
        </form>
    </div>
</body>
</html>
