<!DOCTYPE html>
<html lang="fr">

<head>
    <meta http-equiv="Content-Type" charset="UTF-8">
		<link rel="stylesheet" href="../static/style.css">
        
        <title>Connexion</title>
</html>
<body>
    <h2>Vous êtes Journaliste ? Inscrivez-vous !</h2>
    <div class="form">
    <form action="/register" method="post">
    
    <label for="nom_utilisateur">Nom d'utilisateur:</label>
    <input type="text"id="nom_utilisateur" name="username" required>
    <br><br>

    

    <label for="mot_de_passe">Mot de passe:</label>
    <input type="password" id="mot_de_passe" name="password" required><br><br>
    
    
    <label for="confirme_mot_de_passe">Confirmer votre mot de passe:</label>
    <input type="password" id="confirme_mot_de_passe" name="Verif" required><br><br>
    {{erreur}}

    <button type="submit">S'inscrire</button>
    
</div>
</form>
<form action="/connexion">
    <button type="submit">Vous avez déjà un compte ? Connectez vous</button>
</form>
</body>
</html>
